<% if @companies.blank? %>
  <div class="warning">Nenhuma promoção cadastrada</div>
<% else %>
  <dl>
    <% @companies.each do |company| %>
      <dt>Nome: </dt>
      <dd><%= link_to company.name, job_path(company) %></dd>
    <% end %>
  </dl>
<% end %>
<%= link_to 'Voltar', root_path %>